body {
	background-color: khaki;
}

.wrapper {
	border: 2px solid lightyellow;
	background-color: PaleGreen;
	width: 1380px;
	margin: 0px auto;
}

header {
	border: 2px solid darkred;
	background-color: LightBlue;
}

h1 {
	background-color: white;
}

h2 {
	border: 2px solid cyan;
	background-color: cyan;
}

.AsideLeft {
	border: 2px solid blue;
	background-color: lavender;
	width: 300px;
	float: left;
}

.AsideRight {
	border: 2px dotted DarkGreen;
	background-color: MediumSpringGreen;
	width: 300px;
	float: right;
}

nav {
	border: 2px solid green;
	background-color: green;
}

main {
	border: 2px double MeduimVioletRed;
	background-color: LightPink;
	width: 760px;
	float: left;
}

section {
	border: 2px solid Violet;
	background-color: white;
	width: 760px;
	margin: 20px auto;
	overflow: hidden;
}

article {
	border: 2px double Red;
	background-color: Pink;
	float: left;
	width: 360px;
	height: auto;
	float: left;
}	

footer {
	border: 2px double MeduimVioletRed;
	background-color: LightPink;
	clear: both;
}

figure {
	border: 5px solid ForestGreen;
	width: 200px;
}
p {
	border: 2px solid green;
	background-color: khaki;
}

figure img {
	width: 200px;
	height: 180px;
}

