body {
	background-color: Pink;
}

th {
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	text-align: center;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-family: Tahoma;
}

h2 {
	font-family: Tahoma;
	letter-spacing: 3px;
	text-decoration: underline;
	margin-left: 350px;
}

h3{
	font-family: Tahoma;
	margin-left: 400px;
}

p {
	line-height: 25px;
	text-align: justify;
	font-weight: 300;
	font-family: "Calibri";
	font-size: 18px;
	width: 1000px;
	margin: 0px auto;
}

img {
	border: 3px solid black;
}

.imageTable {
	width: 1000px;
	margin: 0px auto;
}

.imageTable td {
	padding-right: 10px;
}

.mapImage {
	text-align: center;
}

.imageParagraph {
	margin-left: 450px;
}